In [2]:
import pandas as pd
import os

In [8]:
# base_path = os.path.dirname(__file__)
# file_path = os.path.join(base_path, 'data_test', 'IRENA_Stats_Extract_2024_H1_V1.xlsx')
file_path = 'data_test/IRENA_Stats_Extract_ 2024_H1_V1.xlsx'
data = pd.read_excel(file_path, sheet_name='Country')
data.head()

,Region,Country,ISO3 code,M49 code,RE or Non-RE,Group Technology,Technology,Sub-Technology,Producer Type,Year,Electricity Installed Capacity (MW),Unnamed: 11,Unnamed: 12,Unnamed: 13,0
0,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2000,5459.01,NaN,NaN,NaN,NaN
1,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2001,5455.50,NaN,NaN,NaN,NaN
2,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2002,5891.01,NaN,NaN,NaN,NaN
3,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2003,6013.24,NaN,NaN,NaN,NaN
4,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2004,6305.24,NaN,NaN,NaN,NaN

In [35]:
df = data.copy()
df = df[df["Year"].isin([2022, 2023, 2024])]
df.head()

,Region,Country,ISO3 code,M49 code,RE or Non-RE,Group Technology,Technology,Sub-Technology,Producer Type,Year,Electricity Installed Capacity (MW),Unnamed: 11,Unnamed: 12,Unnamed: 13,0
22,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2022,24457.6,NaN,NaN,NaN,NaN
23,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2023,25657.6,NaN,NaN,NaN,NaN
46,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Oil,Oil,Off-grid electricity,2022,1188.9,NaN,NaN,NaN,NaN
47,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Oil,Oil,Off-grid electricity,2023,1188.9,NaN,NaN,NaN,NaN
70,Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Oil,Oil,On-grid electricity,2022,373.0,NaN,NaN,NaN,NaN

In [36]:
df['Group Technology'].unique()

array(['Fossil fuels', 'Hydropower (excl. Pumped Storage)',
       'Solar energy', 'Wind energy', 'Bioenergy', 'Geothermal energy',
       'Pumped storage', 'Nuclear', 'Other non-renewable energy',
       'Marine energy'], dtype=object)

In [37]:
df = df[df["Group Technology"].isin(['Hydropower (excl. Pumped Storage)',
       'Solar energy', 'Wind energy', 'Bioenergy', 'Geothermal energy',
       'Pumped storage',
       'Marine energy'])]
df.head()

,Region,Country,ISO3 code,M49 code,RE or Non-RE,Group Technology,Technology,Sub-Technology,Producer Type,Year,Electricity Installed Capacity (MW),Unnamed: 11,Unnamed: 12,Unnamed: 13,0
94,Africa,Algeria,DZA,12,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,Renewable hydropower,On-grid electricity,2022,128.9,NaN,NaN,NaN,NaN
95,Africa,Algeria,DZA,12,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,Renewable hydropower,On-grid electricity,2023,128.9,NaN,NaN,NaN,NaN
108,Africa,Algeria,DZA,12,Total Renewable,Solar energy,Solar thermal energy,Concentrated solar power,On-grid electricity,2022,25.0,NaN,NaN,NaN,NaN
109,Africa,Algeria,DZA,12,Total Renewable,Solar energy,Solar thermal energy,Concentrated solar power,On-grid electricity,2023,25.0,NaN,NaN,NaN,NaN
118,Africa,Algeria,DZA,12,Total Renewable,Solar energy,Solar photovoltaic,Off-grid Solar photovoltaic,Off-grid electricity,2022,38.2,NaN,NaN,NaN,NaN

In [38]:
df_sum_per_year = (
    df
    .groupby(["Year", "Country", "Group Technology"], as_index=False)["Electricity Installed Capacity (MW)"]
    .sum()
)
df_sum_per_year

,Year,Country,Group Technology,Electricity Installed Capacity (MW)
0,2022,Afghanistan,Hydropower (excl. Pumped Storage),459.138
1,2022,Afghanistan,Solar energy,33.243
2,2022,Afghanistan,Wind energy,0.400
3,2022,Albania,Bioenergy,1.425
4,2022,Albania,Hydropower (excl. Pumped Storage),2493.000
...,...,...,...,...
1530,2023,Zambia,Hydropower (excl. Pumped Storage),3165.052
1531,2023,Zambia,Solar energy,124.268
1532,2023,Zimbabwe,Bioenergy,100.000
1533,2023,Zimbabwe,Hydropower (excl. Pumped Storage),1080.015
1534,2023,Zimbabwe,Solar energy,40.949

In [39]:
df_sum_per_year[df_sum_per_year['Group Technology'] == 'Geothermal energy']

,Year,Country,Group Technology,Electricity Installed Capacity (MW)
30,2022,Australia,Geothermal energy,0.100
36,2022,Austria,Geothermal energy,0.250
126,2022,Chile,Geothermal energy,51.400
131,2022,China,Geothermal energy,25.750
142,2022,Chinese Taipei,Geothermal energy,5.449
...,...,...,...,...
1343,2023,Romania,Geothermal energy,0.050
1349,2023,Russian Federation (the),Geothermal energy,74.000
1452,2023,Thailand,Geothermal energy,0.300
1475,2023,Türkiye,Geothermal energy,1691.338
1503,2023,United States of America (the),Geothermal energy,2673.600

In [42]:
df_sum_per_technology_year = (
    df
    .groupby(["Year", "Group Technology"], as_index=False)["Electricity Installed Capacity (MW)"]
    .sum()
)
df_sum_per_technology_year

,Year,Group Technology,Electricity Installed Capacity (MW)
0,2022,Bioenergy,1.458963e+05
1,2022,Geothermal energy,1.465295e+04
2,2022,Hydropower (excl. Pumped Storage),1.260883e+06
3,2022,Marine energy,5.251240e+02
4,2022,Pumped storage,1.343836e+05
5,2022,Solar energy,1.073136e+06
6,2022,Wind energy,9.012308e+05
7,2023,Bioenergy,1.502612e+05
8,2023,Geothermal energy,1.484593e+04
9,2023,Hydropower (excl. Pumped Storage),1.267903e+06
10,2023,Marine energy,5.269200e+02
11,2023,Pumped storage,1.398512e+05
12,2023,Solar energy,1.418969e+06
13,2023,Wind energy,1.017199e+06

In [43]:
yearly_sum = (
    df
    .groupby("Year", as_index=False)["Electricity Installed Capacity (MW)"]
    .sum()
)
yearly_sum

   Year  Electricity Installed Capacity (MW)
0  2022                         3.530707e+06
1  2023                         4.009556e+06